/* navbar.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff; /* Boja teksta */
  text-decoration: none; /* Uklonite podvlaku */
  padding: 8px 16px; /* Dodajte malo prostora oko teksta */
  border-radius: 4px; /* Zaoblite rubove */
}

.navbar ul li a:hover {
  color: #ffffff;
}

.logout {
  margin-right: 100%; /* Pomaknite logout link na desnu stranu */
}

.logout a {
  color: #fff; /* Boja teksta */
  text-decoration: none; /* Uklonite podvlaku */
  padding: 8px 16px; /* Dodajte malo prostora oko teksta */
  border-radius: 4px; /* Zaoblite rubove */
}

.logout a:hover {
  background-color: rgba(
    221,
    0,
    0,
    0.336
  ); /* Promijenite boju pozadine na hover */
}

a {
  transition: 400ms;
}

a:hover {
  background-color: rgb(115, 115, 115);
}
